.popup{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
  color: $black;
  opacity: 1;
  animation-duration: 0.5s; 
  .p_wrap {
    position: fixed;
    width: 90%;
    max-width: 450px;
    min-height: 170px;
    max-height: 90%;
    display: flex;
    flex-direction: column; 
    overflow-x: hidden;
    overflow-y: auto;
    background: $white;
    box-sizing: border-box;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 150ms;
    align-content: space-between;
    @include tablet {
      min-width: 290px;
    }
  }
  &.p_create{
    .p_wrap{
      @include setCont(100%, 100%, block);
      max-width: 100%;
      max-height: 100%;
      overflow-y: hidden;
      background: none;
    }
    .p_top{
      @include setCont(100%, 60px, flex, relative, #262B32);
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      padding: 0 30px 0 25px;
      justify-content: space-between;
      align-items: center;
      z-index: 201;
      @include tablet {
        padding: 20px calcPercent(15, 768) 25px;
      }
      h2{
        @include font(15, 18);
        padding: 0;
        margin-bottom: 0;
        color: $white;
      }
    }
    .p_inner{
      width: 100%;
    }
    .p_container{
      @include setCont(100%, calc(100% - 60px));
      padding: 20px 25px 25px;
      background: $white;
      overflow: auto;
      @include tablet {
        padding: 20px calcPercent(5) 25px;
      }
      .c_top{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #898b90;
        .tabs1{
          width: 100%;
          border: none;
        }
        .btns{
          flex-shrink: 0;
        }
        .btn{
          margin: 0 1px;
        }
        @include mobile{
          flex-wrap: wrap-reverse;
          .btns{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 15px;
          }
        }
      }
      .c_contents{
        @include setCont(100%, auto, flex, relative);
        padding: 10px 0;
        flex-wrap: wrap;
        justify-content: space-between;
        .left,.right{
          width: 50%;
          min-width: 400px;
          padding: 10px 8px;
          @include tablet{
            flex-grow: 1;
          }
          @include mobile{
            width: 100%;
            min-width: 0;
          }
        }
        .bx_img{
          @include setCont(100%, 165px, flex);
            padding: 10px;
          justify-content: center;
          align-items: center;
          margin-top: 10px;
        }
        .img{
          max-width: 100%;
          max-height: 100%;
        }
        .slct + .slct{
          margin-top: 5px;
        }
        ol{
          &>li{
            &+li{
              margin-top: 20px;
            }
            label{
              @include font(13,16);
              display: block;
              margin-bottom: 10px;
            }
          }
          .colb{
            align-content: center;
            margin-bottom: 5px;
            label{
              margin-bottom: 0;
            }
          }
        }
      }
      .c_bottom{
        display: flex;
        justify-content: flex-end;
      }
      .btns_ico{
        display: flex;
        justify-content: flex-end;
        .btn{
          min-width: 22px;
          padding: 1px 5px;
          font-weight: normal;
          @include font(16);
          line-height: 1 !important;
        }
      }
    }
  }
  &.alert, &.confirm{
    .p_wrap{
      border: 1px solid  #DEDEDE;
      border-radius: 10px;
    }
    .p_top{
      @include setCont(100%, 45px, flex);
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid  #DEDEDE;
      h3{
        @include font(13, 16);
        padding: 0 20px;
      }
      .btn_close{
        @include setCont(48px, 100%, block);
        @include bgSvg(icoClose($s_black), no-repeat, 50% 50%, 12px auto);
      }
    }
    .p_container{
      padding: 20px;
      min-height: 80px;
      @include font(13, 19);
    }
    .p_bottom{
      @include setCont(100%, 50px, flex);
      border-top: 1px solid  #DEDEDE;
      justify-content: flex-end;
      align-items: center;
      padding: 0 17.5px 0 20px;
      .btn{
        margin: 0 2.5px;
      }
    }
  }
}
