/*URL*/
$url: "/";
$font_url: "https://s3.ap-northeast-2.amazonaws.com/static.unicornranch.co.kr/common/font";
// $font_url: "/font/";
/*Hashing*/
$version: "?v=1";

// $max: 1080px;
$pc: 1080px; 
$tablet: 768px;
$s_tablet: 708;
$s_pc: 1080;
$mobile: 320px;

$header: 60px;

/*Font 및 Color*/
$family: "Pretendard", "pretendard", "프리텐다드", "Apple SD Gothic Neo", "Malgun Gothic",
  "맑은 고딕", dotum, "돋음", "AppleGothic", "Arial", "Meiryo", "sans-serif";
$font: 13;
$pc_font: 13px;
$bold: 500;

$point:#2B3041;


$white: #fff;
$white1: #F8F8FB;
$black: #262626;
$gray: #666;
$light_gray: #B5B5B5;
$red: #DD4848;
$blue: #3076CB;
$sky: #66A3EC;

$s_white: "fff";
$s_black: "262626";
$s_point: "2B3041";
$s_blue: "3076CB";
